.container{
    margin-top: -4%;
    display: flex;
    flex-direction: row;
}
.head{
    font-size: xxx-large;
    opacity: 36%;
    font-weight: lighter;
}
.header1{
    margin-top: 10%;
    margin-left: 25%;
}
.header2{
    margin-top: 10%;
    margin-left: 4px;
}
.header3{
    margin-top: 12%;
    margin-left: 260px;
}
.header4{
    margin-top: 12%;
    margin-left: 7px;
}
.anchor1{
    text-decoration: none;
    font-size: 40px;
    color: black;
    opacity: 40%;
}
.container2{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-around;
    margin-left: 22%;
    margin-right: 32%;
    flex-wrap: wrap;
    height: 340px;
    overflow-x: hidden;
    overflow-y: auto;
}
.card{  
    border: 1px solid red;    
    border-radius: 10px;  
    box-shadow: 5px 5px lightgray; 
    height: 300px;   
    width: 190px;
    text-align: center;
    font-size: x-large;
    padding-top: 22px;
    margin-left: 15px;
    margin-top: 10px;
}
.cardanchor{
    text-decoration: none;
    color: red;
}
@media screen and (min-width:200px) and (max-width:360px) {
    .header1{
        margin-left: 0%;
    }
    .header3{
        margin-top: 19%;
        margin-left: 88px;
    }
    .header4{
        content-visibility: hidden;
    }
    .container2{
        width: auto;
        margin-left: 0%;
        flex-wrap: nowrap;
        overflow: visible;
        flex-direction: column;
        align-items: flex-start;
    }
    .card{
        overflow: hidden;
        height: 49px;
        margin-left: 20px;
        margin-top: 10px;
        width: 300px;
        border: 0.5px solid #e7b2b2;
        box-shadow: 3px 3px lightgrey;
        text-align: start;
    }
    .cardanchor{
        text-decoration: none;
        color: gray;
        margin-left: 10px;
        font-size: smaller;
    }
}